<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Book Collection</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <link rel="stylesheet" href="./csss/browsecss.css">
</head>
<body>
    <!--------- PAGE HEADER S --------->
    <header>
        <nav>
            <div class="logo-search">
                <img href="/home" src="./LOGO/ld white.png" class="logos">
                <div class="search-box">
                    <input type="search" placeholder="Search Here...">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <div class="icon">
                    <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
            </div>
            <ul>
                <li><a href="/home">Home</a></li>
                <li class="active"><a href="bcollection.html">Books</a></li>
                <!--<li><a href="ebcollection.html">E-Books</a></li>-->
            </ul>
        </nav>
    </header>
    <!--------- PAGE HEADER E --------->

    <!--------- COLLECTION S --------->
        <section class="sec-2">
            <div class="content">
                <div class="titile">
                    <h4>THE BOOK COLLECTIONS</h4>
                </div>

                <!--------- FIRST ROW S--------->
                <div class="all-items">
                        {{#each groupedBooks}}
                                <div class="row">
                                    {{#each this}}
                                        <div class="item">
                                            <div class="div-img">
                                                <img src="data:image/jpeg;base64,{{ this.ItemImage }}" alt="{{ this.Title }}">
                                            </div>
                                            <div class="div-text">
                                                <h4><a href="/item?bookId={{this._id}}">{{ this.Title }}</a></h4>
                                                <p>{{ this.CreatorAuthor}}</p>
                                                <div class="stars">
                                                    <i class="fa-solid fa-star"></i>
                                                </div>
                                                <div class="price">
                                                    <span>{{ this.CatalogStatus }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    {{/each}}
                                </div> <!-- Close the row after every 4 items -->
                        {{/each}}
                </div>
            </div>
        </section>    
</body>
</html>