<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Top Books</title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <link rel="stylesheet" href="./csss/toppages.css">
</head>
<body>

    <header>
        <nav>
            <div class="logo-search">
                <img href="/home" src="./LOGO/ld white.png" class="logos">
                <div class="search-box">
                    <input type="search" placeholder="Search Here...">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>

            <ul>
                <li><a href="/home">Home</a></li>
                <li class=""><a href="bcollection.html">Books</a></li>
                <!--<li><a href="ebcollection.html">E-Books</a></li>-->
            </ul>
        </nav>
    </header>

        <section class="featured" id=" featured">

            <h1 class="heading"> <span> Top Books </span></h1>

            <div class="swiper featured-slider">
                <div class="swiper-wrapper">

                    <div class="swiper-slide box">
                        <div class="icons">
                            <a href="#" class="fas fa-search"></a>
                            <a href="#" class="fas fa-heart"></a>
                            <a href="#" class="fas fa-eye"></a>
                        </div>
                        <div class="image">
                            <img src="./imgs/bok1.jpg" alt="">
                        </div>
                        <div class="content">
                            <h3>My Book Cover</h3>
                            <div class="price">By YOU </div>
                            <a href="#" class="btn">RESERVE</a>
                        </div>
                    </div>

                    <div class="swiper-slide box">
                        <div class="icons">
                            <a href="#" class="fas fa-search"></a>
                            <a href="#" class="fas fa-heart"></a>
                            <a href="#" class="fas fa-eye"></a>
                        </div>
                        <div class="image">
                            <img src="./imgs/bok2.jpg" alt="">
                        </div>
                        <div class="content">
                            <h3>The Mind of a Leader</h3>
                            <div class="price">By: Kevin Anderson</div>
                            <a href="#" class="btn">RESERVE</a>
                        </div>
                    </div>

                    <div class="swiper-slide box">
                        <div class="icons">
                            <a href="#" class="fas fa-search"></a>
                            <a href="#" class="fas fa-heart"></a>
                            <a href="#" class="fas fa-eye"></a>
                        </div>
                        <div class="image">
                            <img src="./imgs/bok3.jpg" alt="">
                        </div>
                        <div class="content">
                            <h3>The Light Beyond</h3>
                            <div class="price">By: Scott Whitehead</div>
                            <a href="#" class="btn">RESERVE</a>
                        </div>
                    </div>

                    <div class="swiper-slide box">
                        <div class="icons">
                            <a href="#" class="fas fa-search"></a>
                            <a href="#" class="fas fa-heart"></a>
                            <a href="#" class="fas fa-eye"></a>
                        </div>
                        <div class="image">
                            <img src="./imgs/bok4.jpg" alt="">
                        </div>
                        <div class="content">
                            <h3>Normal People</h3>
                            <div class="price">By: Sally Rooney</div>
                            <a href="#" class="btn">RESERVE</a>
                        </div>
                    </div>

                    <div class="swiper-slide box">
                        <div class="icons">
                            <a href="#" class="fas fa-search"></a>
                            <a href="#" class="fas fa-heart"></a>
                            <a href="#" class="fas fa-eye"></a>
                        </div>
                        <div class="image">
                            <img src="./imgs/bok5.jpg" alt="">
                        </div>
                        <div class="content">
                            <h3>Harry Potter</h3>
                            <div class="price">By: J.K Rowling</div>
                            <a href="#" class="btn">RESERVE</a>
                        </div>
                    </div>

                    <div class="swiper-slide box">
                        <div class="icons">
                            <a href="#" class="fas fa-search"></a>
                            <a href="#" class="fas fa-heart"></a>
                            <a href="#" class="fas fa-eye"></a>
                        </div>
                        <div class="image">
                            <img src="./imgs/bok6.jpg" alt="">
                        </div>
                        <div class="content">
                            <h3>The Gravity</h3>
                            <div class="price">By: Nille Lewis</div>
                            <a href="#" class="btn">RESERVE</a>
                        </div>
                    </div>

                    <div class="swiper-slide box">
                        <div class="icons">
                            <a href="#" class="fas fa-search"></a>
                            <a href="#" class="fas fa-heart"></a>
                            <a href="#" class="fas fa-eye"></a>
                        </div>
                        <div class="image">
                            <img src="./imgs/bok7.png" alt="">
                        </div>
                        <div class="content">
                            <h3>Bigger & Better</h3>
                            <div class="price">By: Kevin Loe</div>
                            <a href="#" class="btn">RESERVE</a>
                        </div>
                    </div>

                    <div class="swiper-slide box">
                        <div class="icons">
                            <a href="#" class="fas fa-search"></a>
                            <a href="#" class="fas fa-heart"></a>
                            <a href="#" class="fas fa-eye"></a>
                        </div>
                        <div class="image">
                            <img src="./imgs/bok8.jpeg" alt="">
                        </div>
                        <div class="content">
                            <h3>Lunar Storm</h3>
                            <div class="price">By: Terry Crosby</div>
                            <a href="#" class="btn">RESERVE</a>
                        </div>
                    </div>

                    <div class="swiper-slide box">
                        <div class="icons">
                            <a href="#" class="fas fa-search"></a>
                            <a href="#" class="fas fa-heart"></a>
                            <a href="#" class="fas fa-eye"></a>
                        </div>
                        <div class="image">
                            <img src="./imgs/bok9.jpeg" alt="">
                        </div>
                        <div class="content">
                            <h3>CRACK THE CODE</h3>
                            <div class="price">By: Patrick C. Harless</div>
                            <a href="#" class="btn">RESERVE</a>
                        </div>
                    </div>

                    <div class="swiper-slide box">
                        <div class="icons">
                            <a href="#" class="fas fa-search"></a>
                            <a href="#" class="fas fa-heart"></a>
                            <a href="#" class="fas fa-eye"></a>
                        </div>
                        <div class="image">
                            <img src="./imgs/bok10.jpg" alt="">
                        </div>
                        <div class="content">
                            <h3>Sin Eater</h3>
                            <div class="price">By: Megan Campisi</div>
                            <a href="#" class="btn">RESERVE</a>
                        </div>
                    </div>

                </div>

                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>

            </div>
        </section>

        <section class="sec-2">

            <div class="content">
                <div class="titile">
                    <h4>Other Books</h4>

                </div>
                <div class="all-items">
                        {{#each groupedBooks}}
                                <div class="row">
                                    {{#each this}}
                                        <div class="item">
                                            <div class="div-img">
                                                <img src="data:image/jpeg;base64,{{ this.Image }}" alt="{{ this.Title }}">
                                            </div>
                                            <div class="div-text">
                                                <h4><a href="/item?bookId={{this._id}}">{{ this.Title }}</a></h4>
                                                <p>{{ this.CreatorOrAuthor}}</p>
                                                <div class="stars">
                                                    <i class="fa-solid fa-star"></i>
                                                </div>
                                                <div class="price">
                                                    <span>{{ this.CirculationStatus }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    {{/each}}
                                </div> <!-- Close the row after every 4 items -->
                        {{/each}}
                </div>
            </div>
        </section>



<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

<script src="./jss/script.js"></script>
</body>
</html>